body { background-color: rgb(199, 253, 255); } 
img {
    text-align: right;
    float: right;
}

ul.hr li {
    display: inline;
    margin-right: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 0 3px orange   
}

h1 {
    text-align: center;
}

h2 {    display: inline;
    margin-right: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 0 3px orange   }

h3 {   margin-right: 5px;
        background-color: #ffffff;
        box-shadow: 0 0 0 3px orange }